@media only screen and (min-width: 568px) {
    /*iphone 5*/

    #gradeLevel{
    	margin: 0 auto;
    }

    #mainContainer {
        width: 75%;
        margin: auto;

        background-color: #47A8BD;
        border: 4px solid #B0E0E6;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        height: 300px;
    }
}


@media only screen and (min-width: 667px) {
    /*iphon6-8*/
    #gradeLevel{
    	margin: 0 auto;
    }

    #mainContainer {
    width:75%;
    margin:auto;
    
    background-color: #47A8BD;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    height: 355;
   
}
}

@media only screen and (min-width: 736px) {
    /*iphone 6-8+*/
    #gradeLevel{
    	margin: 0 auto;
    }

    #mainContainer {
    width:75%;
    margin:auto;
    
    background-color: #47A8BD;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    height: 396px;
   
}
}

@media only screen and (min-width: 812px) {
    /*iphoneX*/
    #gradeLevel{
    	
    	margin: 0 auto;
    }

    #mainContainer {
    
    
    background-color: black;
  
}
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .row{
    	height: 33%;
    }
    #gradeLevel{
    	
    	text-align: center;
    	
    	width: 100%;
    	height:100%;
    	margin: 0 auto;
    }

    #mainContainer {
   
 	margin-top: 5%;
     width:80%;
    background-color: #47A8BD;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    height: 600px;
   
}
}